<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WmDeliveryScopeAuditMapper">
    
    <resultMap type="WmDeliveryScopeAudit" id="WmDeliveryScopeAuditResult">
        <result property="id"    column="id"    />
        <result property="requestId"    column="request_id"    />
        <result property="walleId"    column="walle_id"    />
        <result property="retailerId"    column="retailer_id"    />
        <result property="retailerName"    column="retailer_name"    />
        <result property="retailerAddress"    column="retailer_address"    />
        <result property="retailerLocation"    column="retailer_location"    />
        <result property="cityId"    column="city_id"    />
        <result property="cityName"    column="city_name"    />
        <result property="gridId"    column="grid_id"    />
        <result property="carrierId"    column="carrier_id"    />
        <result property="teamId"    column="team_id"    />
        <result property="applicantId"    column="applicant_id"    />
        <result property="applicantName"    column="applicant_name"    />
        <result property="firstAuditorRole"    column="first_auditor_role"    />
        <result property="firstAuditorCandidateIds"    column="first_auditor_candidate_ids"    />
        <result property="firstAuditorId"    column="first_auditor_id"    />
        <result property="firstAuditorName"    column="first_auditor_name"    />
        <result property="secondAuditorRole"    column="second_auditor_role"    />
        <result property="secondAuditorCandidateIds"    column="second_auditor_candidate_ids"    />
        <result property="secondAuditorId"    column="second_auditor_id"    />
        <result property="secondAuditorName"    column="second_auditor_name"    />
        <result property="status"    column="status"    />
        <result property="maxDistanceBeforeEdit"    column="max_distance_before_edit"    />
        <result property="minDistanceBeforeEdit"    column="min_distance_before_edit"    />
        <result property="maxDistanceAfterEdit"    column="max_distance_after_edit"    />
        <result property="minDistanceAfterEdit"    column="min_distance_after_edit"    />
        <result property="areaBeforeEdit"    column="area_before_edit"    />
        <result property="areaAfterEdit"    column="area_after_edit"    />
        <result property="createdAt"    column="created_at"    />
        <result property="updatedAt"    column="updated_at"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectWmDeliveryScopeAuditVo">
        select id, request_id, walle_id, retailer_id, retailer_name, retailer_address, retailer_location, city_id, city_name, grid_id, carrier_id, team_id, applicant_id, applicant_name, first_auditor_role, first_auditor_candidate_ids, first_auditor_id, first_auditor_name, second_auditor_role, second_auditor_candidate_ids, second_auditor_id, second_auditor_name, status, max_distance_before_edit, min_distance_before_edit, max_distance_after_edit, min_distance_after_edit, area_before_edit, area_after_edit, created_at, updated_at, apply_time, create_time from wm_delivery_scope_audit
    </sql>

    <select id="selectWmDeliveryScopeAuditList" parameterType="WmDeliveryScopeAudit" resultMap="WmDeliveryScopeAuditResult">
        <include refid="selectWmDeliveryScopeAuditVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="requestId != null  and requestId != ''"> and request_id = #{requestId}</if>
            <if test="walleId != null "> and walle_id = #{walleId}</if>
            <if test="retailerId != null "> and retailer_id = #{retailerId}</if>
            <if test="retailerName != null  and retailerName != ''"> and retailer_name like concat('%', #{retailerName}, '%')</if>
            <if test="gridId != null "> and grid_id = #{gridId}</if>
        </where>
    </select>
    
    <select id="selectWmDeliveryScopeAuditById" parameterType="Long" resultMap="WmDeliveryScopeAuditResult">
        <include refid="selectWmDeliveryScopeAuditVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWmDeliveryScopeAudit" parameterType="WmDeliveryScopeAudit" useGeneratedKeys="true" keyProperty="id">
        insert into wm_delivery_scope_audit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="requestId != null">request_id,</if>
            <if test="walleId != null">walle_id,</if>
            <if test="retailerId != null">retailer_id,</if>
            <if test="retailerName != null">retailer_name,</if>
            <if test="retailerAddress != null">retailer_address,</if>
            <if test="retailerLocation != null">retailer_location,</if>
            <if test="cityId != null">city_id,</if>
            <if test="cityName != null">city_name,</if>
            <if test="gridId != null">grid_id,</if>
            <if test="carrierId != null">carrier_id,</if>
            <if test="teamId != null">team_id,</if>
            <if test="applicantId != null">applicant_id,</if>
            <if test="applicantName != null">applicant_name,</if>
            <if test="firstAuditorRole != null">first_auditor_role,</if>
            <if test="firstAuditorCandidateIds != null">first_auditor_candidate_ids,</if>
            <if test="firstAuditorId != null">first_auditor_id,</if>
            <if test="firstAuditorName != null">first_auditor_name,</if>
            <if test="secondAuditorRole != null">second_auditor_role,</if>
            <if test="secondAuditorCandidateIds != null">second_auditor_candidate_ids,</if>
            <if test="secondAuditorId != null">second_auditor_id,</if>
            <if test="secondAuditorName != null">second_auditor_name,</if>
            <if test="status != null">status,</if>
            <if test="maxDistanceBeforeEdit != null">max_distance_before_edit,</if>
            <if test="minDistanceBeforeEdit != null">min_distance_before_edit,</if>
            <if test="maxDistanceAfterEdit != null">max_distance_after_edit,</if>
            <if test="minDistanceAfterEdit != null">min_distance_after_edit,</if>
            <if test="areaBeforeEdit != null">area_before_edit,</if>
            <if test="areaAfterEdit != null">area_after_edit,</if>
            <if test="createdAt != null">created_at,</if>
            <if test="updatedAt != null">updated_at,</if>
            <if test="applyTime != null">apply_time,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="requestId != null">#{requestId},</if>
            <if test="walleId != null">#{walleId},</if>
            <if test="retailerId != null">#{retailerId},</if>
            <if test="retailerName != null">#{retailerName},</if>
            <if test="retailerAddress != null">#{retailerAddress},</if>
            <if test="retailerLocation != null">#{retailerLocation},</if>
            <if test="cityId != null">#{cityId},</if>
            <if test="cityName != null">#{cityName},</if>
            <if test="gridId != null">#{gridId},</if>
            <if test="carrierId != null">#{carrierId},</if>
            <if test="teamId != null">#{teamId},</if>
            <if test="applicantId != null">#{applicantId},</if>
            <if test="applicantName != null">#{applicantName},</if>
            <if test="firstAuditorRole != null">#{firstAuditorRole},</if>
            <if test="firstAuditorCandidateIds != null">#{firstAuditorCandidateIds},</if>
            <if test="firstAuditorId != null">#{firstAuditorId},</if>
            <if test="firstAuditorName != null">#{firstAuditorName},</if>
            <if test="secondAuditorRole != null">#{secondAuditorRole},</if>
            <if test="secondAuditorCandidateIds != null">#{secondAuditorCandidateIds},</if>
            <if test="secondAuditorId != null">#{secondAuditorId},</if>
            <if test="secondAuditorName != null">#{secondAuditorName},</if>
            <if test="status != null">#{status},</if>
            <if test="maxDistanceBeforeEdit != null">#{maxDistanceBeforeEdit},</if>
            <if test="minDistanceBeforeEdit != null">#{minDistanceBeforeEdit},</if>
            <if test="maxDistanceAfterEdit != null">#{maxDistanceAfterEdit},</if>
            <if test="minDistanceAfterEdit != null">#{minDistanceAfterEdit},</if>
            <if test="areaBeforeEdit != null">#{areaBeforeEdit},</if>
            <if test="areaAfterEdit != null">#{areaAfterEdit},</if>
            <if test="createdAt != null">#{createdAt},</if>
            <if test="updatedAt != null">#{updatedAt},</if>
            <if test="applyTime != null">#{applyTime},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateWmDeliveryScopeAudit" parameterType="WmDeliveryScopeAudit">
        update wm_delivery_scope_audit
        <trim prefix="SET" suffixOverrides=",">
            <if test="requestId != null">request_id = #{requestId},</if>
            <if test="walleId != null">walle_id = #{walleId},</if>
            <if test="retailerId != null">retailer_id = #{retailerId},</if>
            <if test="retailerName != null">retailer_name = #{retailerName},</if>
            <if test="retailerAddress != null">retailer_address = #{retailerAddress},</if>
            <if test="retailerLocation != null">retailer_location = #{retailerLocation},</if>
            <if test="cityId != null">city_id = #{cityId},</if>
            <if test="cityName != null">city_name = #{cityName},</if>
            <if test="gridId != null">grid_id = #{gridId},</if>
            <if test="carrierId != null">carrier_id = #{carrierId},</if>
            <if test="teamId != null">team_id = #{teamId},</if>
            <if test="applicantId != null">applicant_id = #{applicantId},</if>
            <if test="applicantName != null">applicant_name = #{applicantName},</if>
            <if test="firstAuditorRole != null">first_auditor_role = #{firstAuditorRole},</if>
            <if test="firstAuditorCandidateIds != null">first_auditor_candidate_ids = #{firstAuditorCandidateIds},</if>
            <if test="firstAuditorId != null">first_auditor_id = #{firstAuditorId},</if>
            <if test="firstAuditorName != null">first_auditor_name = #{firstAuditorName},</if>
            <if test="secondAuditorRole != null">second_auditor_role = #{secondAuditorRole},</if>
            <if test="secondAuditorCandidateIds != null">second_auditor_candidate_ids = #{secondAuditorCandidateIds},</if>
            <if test="secondAuditorId != null">second_auditor_id = #{secondAuditorId},</if>
            <if test="secondAuditorName != null">second_auditor_name = #{secondAuditorName},</if>
            <if test="status != null">status = #{status},</if>
            <if test="maxDistanceBeforeEdit != null">max_distance_before_edit = #{maxDistanceBeforeEdit},</if>
            <if test="minDistanceBeforeEdit != null">min_distance_before_edit = #{minDistanceBeforeEdit},</if>
            <if test="maxDistanceAfterEdit != null">max_distance_after_edit = #{maxDistanceAfterEdit},</if>
            <if test="minDistanceAfterEdit != null">min_distance_after_edit = #{minDistanceAfterEdit},</if>
            <if test="areaBeforeEdit != null">area_before_edit = #{areaBeforeEdit},</if>
            <if test="areaAfterEdit != null">area_after_edit = #{areaAfterEdit},</if>
            <if test="createdAt != null">created_at = #{createdAt},</if>
            <if test="updatedAt != null">updated_at = #{updatedAt},</if>
            <if test="applyTime != null">apply_time = #{applyTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWmDeliveryScopeAuditById" parameterType="Long">
        delete from wm_delivery_scope_audit where id = #{id}
    </delete>

    <delete id="deleteWmDeliveryScopeAuditByIds" parameterType="String">
        delete from wm_delivery_scope_audit where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>